---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <article class="post-article">
                    <div class="toc">
                        <a href="#">&lt;맨 위로&gt;</a>
                        {% include toc.html html=content %}
                    </div>
                    {{ content }}
                </article>
                <hr>

                <div class="clearfix">

                    {% if page.previous.url %}
                    <a class="btn btn-primary float-left"
                       href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                       data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span
                            class="d-none d-md-inline">
              Post</span></a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="btn btn-primary float-right"
                       href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                       data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    <script>
        function getTOCNodes(master) {
            var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
            var tocNodes = nodes.filter(function(elem) {
                return elem.tagName == "A";
            });
            return tocNodes;
        }
        function getHeaderNodes(master) {
            var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
            var headerNodes = nodes.filter(function(elem) {
                return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
            });
            return headerNodes;
        }

        var title = document.getElementsByClassName("post-title")[0];
        var titleY = window.pageYOffset + title.getBoundingClientRect().top;

        var article = document.getElementsByClassName("post-article")[0];
        var articleY = window.pageYOffset + article.getBoundingClientRect().top;

        var toc = document.getElementsByClassName("toc")[0];

        var headerNodes = getHeaderNodes(article);
        var tocNodes = getTOCNodes(toc);

        var before = undefined;

        document.addEventListener('scroll', function(e) {
            if (window.scrollY >= articleY-60) {
                toc.style.cssText = "position: fixed; top: 60px;";
            }
            else {
                toc.style.cssText = "";
            }

            var current = headerNodes.filter(function(header) {
                var headerY = window.pageYOffset + header.getBoundingClientRect().top;
                return window.scrollY >= headerY - 60;
            });

            if (current.length > 0) {
                current = current[current.length-1];

                var currentA = tocNodes.filter(function(tocNode) {
                    return tocNode.innerHTML == current.innerHTML;
                })

                currentA = currentA[0];
                if (currentA) {
                    if (before == undefined) before = currentA;

                    if (before != currentA) {
                        before.classList.remove("toc-active");
                        before = currentA;
                    }

                    currentA.classList.add("toc-active");
                }
                else {
                    if (before)
                        before.classList.remove("toc-active");
                }
            }
            else {
                if (before)
                    before.classList.remove("toc-active");
            }

        }, false);
    </script>